.root{
    text-align: center;
    color: blue;
}  

body{
    background-image: image="https://media3.s-nbcnews.com/j/newscms/2020_10/3248341/200228-modern-vhs-main-kh_dc208e79cc0e63c6b8752f09da4959ec.fit-2000w.jpg";
    background-repeat: no-repeat;
}